.top{
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: pink;
}
.bottom{
	color:black;
	font-family: 'Metal Mania', cursive;

}
.create{
	background-color: black;
	text-align: center;
	font-family: 'Metal Mania', cursive;
	color: white;
}