
.jumbotron{
	font-family: 'Metal Mania', cursive;
	background-image: url("pic.jpg");
	background-size: cover;
	background-position:center;
	letter-spacing:3px;
}
	#yellow{
    word-spacing:1px;
    color: pink;
	}
}
p{
	color:rgb(66,170,245);
}
#content{
	text-align: center;
	padding-top: 35%;
	text-shadow: 0px 4px 3px red,
	             0px 8px 13px blue;

}
hr{
	width: 600px;
	border-top: 3px solid purple;
}
.special{
	font-family: fantasy;
	
	            

}
#highlight{
	background-color:rgb(52,235,207);
	/*background-image: url("pic2.jpg");
	background-size: cover;
	background-position:center;*/
	font-weight: 900;
	font-size: 10em;
	color:rgb(34,123,143);
	text-shadow: 0px 4px 3px red;
	text-align: center; 
	padding-top: 10%;
	padding-bottom:5%;
	font-family: 'Odibee Sans', cursive;
	}
	.green{
		font-family: 'Anton', sans-serif;
	}
/*img {
  float:left;
}*/
#top{
	font-family: 'Metal Mania', cursive;
	background-color: pink;
}
.pink{
	color:rgb(145,49,128);
	text-align: center;
	border-style: inset;
 /*margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;*/

}
.white{
     color: aquamarine;
     text-align: center;
     font-family: 'Metal Mania', cursive;;

}
.blue{
	color:rgb(158,65,58);
	text-align: center;

}
#flower{
	text-align: center;
}
#boy{
	font-family: 'Metal Mania', cursive;
	background-color: black;

}
.create{
	background-color: black;
	text-align: center;
	font-family: 'Metal Mania', cursive;
	color: white;
}
.must{
	background-color:pink;
}




