#top{
	font-family: 'Metal Mania', cursive;
	background-color: pink;
	text-align: center;
}
.white{
     color: aquamarine;
     text-align: center;
     font-family: 'Metal Mania', cursive;;

}
.blue{
	color:rgb(158,65,58);
	text-align: center;
	}
	#flower{
	text-align: center;
}


